@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer&display=swap');

*{
  font-family: 'Noto Sans Khmer', sans-serif;
}

// Button

.toggleButton {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: gray;
  transition: background-color 0.4s;
  border: none;
  cursor: pointer;
}

.toggleButton::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.4s;
}

.toggleButton.on {
  background-color: green;
}

.toggleButton.on::before {
  transform: translateX(26px);
}

.toggleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-weight: bold;
}



/// Form Style


.form03{
  width: 700px;
  float: left;
}
.form03 .rowcol{
  width: 100%;
  /* margin-bottom: 40px !important; */
  padding-bottom: 20px;
}
.form03 .col-01{
  width: 45%;
}
.form03 .col-01 .input{
  width: 100% !important;
  height: 38px;
  border-radius: 8px;
  padding: 0 10px;
  outline: none;
  border: solid 1px #303e27;
  font-size: 18px;
  color: #303e27;
}

.form03 .col-01 .input:hover{
  border: solid 2px #303e27;

}


.form03 #description{
  outline: none;
  width: 100%;
  border: 1px solid #303e27;
  border-radius: 8px;
  padding: 10px;
  color: #303e27;
  font-size: 20px;
}

.upload-right{
  float: left;
  width: 350px;
  height: 85vh;
  padding: 20px;
  margin-left: 20px;
  background-color: #ddddddf3;
  border-radius: 5px;
}


.btn-add{
  background-color:#303e27;
  color: white;
}
.btn-save{
  background-color: #ddd;
  border: 1px solid gray;
}

/* .btn-add:hover, .btn-save:hover{
} */


/* .containerCheckBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
/* .containerCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #2398c6bd;
}

/* On mouse-over, add a grey background color */
.containerCheckBox:hover input ~ .checkmark {
  background-color: #745454;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
/* .containerCheckBox input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/*.containerCheckBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 */

 #checkbox1{
  width: 22px ;
  height: 22px;
  cursor: pointer;
  background-color: #3c9cebd8 !important;
 }

 #center{
  align-items: center;
  display: flex;
  justify-content: center;
 }



 /// Homepage
 .mt-60{
  margin-top: 60px !important;
}
.object-fit{
  object-fit: cover !important;
}
.text-limit{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

img .cursor-pointer{
  cursor: pointer !important;
}

.bg-ddd{
  background-color: #ddd !important;
}

.col-6 .form-login ~{
  width: 100% !important;
}

.col-6 .form-login .login-form{
  width: 100% !important;
}




/*responsive code*/
/*mobile phone*/
@media (max-width: 575px) {
  .col-md-4{
    width: 100% !important;
    padding: 5px !important;
    margin-bottom: 18px;
  }
  .col-md-4 .card{
    width: 100% !important;
  } 
  .logo-ezy{
    display: none !important;
  }
  .nav-bar{
    width: 100% !important;
  }
  body .main-body{
    width: 100% !important;
    margin: 0;
  }
  
  .menu-left{
    width: 65% !important;
  }

  .main-body .form03{
    width: 100%;
  }
  .form03 .rowcol{
    display: flex !important;
    flex-wrap: wrap !important;
    /* margin-right: -15px;
    margin-left: -15px; */
  }
  .form03 .rowcol .col-01{
    flex: 0 0 auto;
    width: 100%;
    margin-top: 20px !important;
  }
  .main-body .form03 #description{
    width: 100% !important;
  }
  #pic_profile{
    display: none !important;
  }
  #menuicons{
    display: block !important;
  }
  #col-6-slide{
    display: none !important;
  }
  .col-6{
    width: 100% !important;
  }
  .col-6 .form-login{
    padding: 5px 8px;
    width: 100% !important;
  }
  .col-6 .form-login .login-form{
    width: 100% !important;
  }

  #menu-phone{
    top: 7% !important;
    display: block;
  }
  #menu-pc{
    display: none !important;
  }

  #button-submit{
    display: none;
  }
  #button-submit-phone{
    display: block;
  }
}


/*ipad*/
@media (min-width: 768px) and (max-width: 991px) {
  #menu-phone{
    display: none;
  }
    
} 

/*ipad pro*/
@media (min-width: 992px) and (max-width: 1199px) {
  #menu-phone{
    display: none;
  }
} 

/*laptop*/
@media (min-width: 1200px)  {
  #menu-phone{
    display: none;
  }
}



// Loading Styles
.pre-loading{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.233);
  margin: 0;
}
.pre-loading .cover-loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #303e27;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #303e27;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #303e27;
  }
  50% {
    box-shadow: 0 0 0 #303e27;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #303e27;
    margin-top: 0;
  }
}



// Menus Style


.menu-left{
  width: 18%;
  height: 100vh;
  /* background-color: rgb(231, 234, 168); */
  background-color: white;
  float: left;
  margin: 0;
  position: fixed;
  top: 8.7% ;
  z-index: 5 !important;
  left: 0;
  padding: 10px 0px;
}

.menu-left ul {
  width: 100%;
  margin-top: 20px;
  padding: 5px 10px;
  list-style: none;
  overflow: hidden;
  display: block;
}
.menu-left ul .link{
  width: 240px;
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 60px;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  display: flex;
  margin: 8px 0px;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between !important;
}
.menu-left ul .link:hover{
  background-color: #ddd;
}

.menu-left ul .link:focus{
  color: white;
  background-color: rgba(255, 0, 255, 0.238);
}

.main-body{
  width: 81%;
  margin-left: 19%;
  height: auto;
  background-color: white;
  float: left;
  padding: 80px 0px !important;
}

.menu-left ul .link .link2{
  display: block;
}

.gr-next{
  color: rgb(216, 20, 20) !important;
  font-size: 25px;
  margin: 2px 0;
}

.cover-link ul{
  margin-top: 0px;
  display: block;
  /* //background-color: #ddd; */
  padding: 0px ;
  list-style: none;
  /* //border-radius: 8px; */
  box-sizing: border-box;
}

.cover-link ul .link3{
  display: block;
  text-align: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}
.cover-link .link{
  width: 100% !important;
  display: block;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  font-size: 16px;
}

.cover-link ul .link3:hover{
  background-color: rgba(158, 60, 60, 0.103);
}

.nav-bar{
  width: 100%;
  float: right !important;
  padding: 5px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20 !important;
  background-color: white;
}

.profile{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.2);
  cursor: pointer;
  padding: 0;
}
.profile .img-profile{
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

#img-show-upload{
  object-fit: cover !important;
}

.bg-menu{
  background-color: rgba(137, 43, 226, 0.247) !important;
}

.dropdown-parent{
  position: relative;
  
}

.dropdown-parent .dropdown-child{
  width: 70%;
  border-radius: 4px;
  background-color: rgba(172, 143, 177, 0.344);
  position: absolute;
  left: 0;
  top: 46px;
  padding: 3px 5px;
  color: #303e27;
  font-weight: 700;
  /* background-color: rgba(145, 152, 152, 0.525); */
}
/* .dropdown-child:hover{
  background-color: rgba(145, 152, 152, 0.525);
} */
.dropdown-child h6{
  width: 100%;
  /* display: flex;
  justify-content: center; */
}
/* .dropdown-child h6:hover{
  background-color: cyan;
} */

